{% extends "base.html" %}
{% block content %}

<h2>Edit Transaction</h2>

<form method="POST">
    Amount: <input type="number" step="0.01" name="amount" value="{{ transaction.amount }}"><br><br>

    Type:
    <select name="type">
        <option value="income" {% if transaction.type=='income' %}selected{% endif %}>Income</option>
        <option value="expense" {% if transaction.type=='expense' %}selected{% endif %}>Expense</option>
    </select><br><br>

    Category: <input type="text" name="category" value="{{ transaction.category }}"><br><br>
    Date: <input type="date" name="date" value="{{ transaction.date }}"><br><br>
    Notes: <input type="text" name="notes" value="{{ transaction.notes }}"><br><br>

    <button type="submit">Update</button>
</form>

{% endblock %}
