body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

button {
    padding: 8px 15px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: #007BFF;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007BFF;
    color: white;
    padding: 10px 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-btn {
    background: red;
    padding: 5px 10px;
}

.logout-btn:hover {
    background: darkred;
}